<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>注册页面</title>
    <style>
        .err{
            color: red;
        }
    </style>
</head>
<body>
<span class="err"><span class="err"><%=errMsg.networkErr%></span></span>
<form action="http://localhost:3000/register" method="post">
  
  邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：<input type="email" name="email"><span class="err"><%=errMsg.emailErr%></span><br><br>
  昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：<input type="text" name="nick_name"><span class="err"><%=errMsg.nickNameErr%></span><br><br>
  密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="password" name="password"><span class="err"><%=errMsg.passwordErr%></span><br><br>
  确认密码：<input type="password" name="re_password"><span class="err"><%=errMsg.rePasswordErr%></span><br><br>
  
  <input type="submit">
  
</form>

</body>
</html>